{% extends "base.html" %}

{% block content %}
    <main>
        {% if profile %}
            <section>
                <h1>{{ profile.full_name_en }}</h1>
                <p>{{ profile.headline_en }}</p>
            </section>
        {% endif %}

        <section>
            {% for skill in skills %}
                <article>
                    {{ skill.name_en }} ({{ skill.category.name_en }})
                </article>
            {% endfor %}
        </section>

        <section>
            {% for project in projects %}
                <article>
                    <h2>{{ project.title_en }}</h2>

                    {% for technology in project.technologies.all %}
                        <span>{{ technology.name }}</span>
                    {% endfor %}
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}
